:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin:  0;
  padding: 0;
}



/* Grid Template Area Container--------------------------------------------------------------------------- */
.container {
  display: grid;
  max-width: 375px;
  grid-gap: 1rem;
  grid-template-areas:

'menu-btn              header           cart-btn               avatar'
'prod-img-big          prod-img-big     prod-img-big           prod-img-big'
'prod-desc             prod-desc        prod-desc              prod-desc'
'prod-price            prod-price       prod-price             prod-price '
'addprod-btn           addprod-btn      addprod-btn            addprod-btn'
'addcart-btn           addcart-btn      addcart-btn            addcart-btn';
}






/*Main Components----------------------------------------------------------------------------------------- */

.header {
  grid-area: header;
  font-family: 'Kumbh Sans', sans;
  font-size: 36px;
}

.cart-btn {
  grid-area: cart-btn;
  fill: #69707D;
  transform: translate(1.5rem, 0.5rem);
  cursor: pointer;
}

.avatar-btn {
  grid-area: avatar;
  width: 25px;
  height: 25px;
  transform: translate(1rem, 1.4rem);
  cursor: pointer;
}

.avatar-btn:hover{
  border: .2rem solid hsl(26, 100%, 55%);
  border-radius: 2rem; 
}


.prod-desc {
  grid-area: prod-desc;
}

.prod-price {
  grid-area: prod-price;
  margin-top: 1rem;
}

.add-prod-btn {
  grid-area: addprod-btn;
  margin-top: 1rem;
  height: 52px;
}

.add-to-cart-btn {
 grid-area: addcart-btn;
 height: 52px;
 cursor: pointer
}

.inside-cart-box {
  grid-area: prod-img-big;
  position: relative;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  margin: 1rem;
  z-index: 1;
  }







/* Menu Navigation ------------------------------------------------------------------------------------------------- */


.menu-close-btn:hover, .menu-btn:hover, .cart-btn:hover{
  fill:hsl(26, 100%, 55%);
}

a{
  text-decoration: none;
}

.menu-nav-text{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color:  hsl(0, 0%, 0%);
  text-decoration: none;
  margin: 2rem 0rem 2rem 3rem;
  padding: 0;
  z-index: 2;
  cursor: pointer;
}

.menu-nav {
  width: 70%;
  height: 100%;
  background-color:hsl(0, 0%, 100%);
  z-index: 2;
}

.menu-nav-bg{
  background-color: hsl(0, 0%, 0%, 75%);
  grid-column-start: menu-btn;
  grid-column-end: avatar;
  grid-row-start: menu-btn;
  grid-row-end: addcart-btn;
  z-index: 2;
}

.menu-btn {
  fill: #69707D;
  grid-area: menu-btn; 
  transform: translate(0.5rem, 0.5rem);
  cursor: pointer;
}

label.menu-btn{
  position: relative;
  margin: auto;
}

.menu-close-btn{
display: inline-block;
padding: 1rem;
fill: #69707D;
transform: translate(2rem, 2rem);
cursor: pointer;
z-index: 2;
}

#menu-checkbox:not(:checked) ~ div.menu-nav-bg{
 opacity: 0;
 height: 0%;
 overflow: hidden;
 position: relative;
 /* transition: opacity 257ms ease-in; */
 /* transform: scaleX(0);
 transform-origin: left; 
 transition: transform 257ms, opacity 257ms ease-out; */
 }

#menu-checkbox:checked ~ div.menu-nav-bg{
  opacity: 1;
  height: 100%;
  position: relative;
  transition: opacity 257ms ease-out;
  /* transform: scaleX(1);
  transform-origin: left; */
  /* transition: transform 257ms, opacity 257ms ease-in; */
}






/* Product Image and Thumbnail Navigation------------------------------------------------------------------------ */

.container-prod-img-nav {
  grid-area: prod-img-big;
  /* object-fit: cover; */
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: -10rem;
}

.prod-img-big {
  width:             100%;
  height:            100%;
  display:           block;
  object-fit:        cover;
}

.prev-icon {
  display:           block;
  grid-area:         prod-img-big;
  position:          absolute;
  width:             auto;
  height:            auto;
  transform:         translate(2rem, 12rem);
  background-color: hsl(0, 0%, 100%);
  stroke:           #1D2026;
  border-radius:     4rem;
  padding:           1rem 1.5rem 1rem 1rem;
  cursor:            pointer;
}


.next-icon {
    display:           block;
    grid-area:         prod-img-big;
    position:          absolute;
    width:             auto;
    height:            auto;
    transform:         translate(32rem, -15.5rem);
    background-color: hsl(0, 0%, 100%);
    stroke:           #1D2026;
    border-radius:     4rem;
    padding:           1rem 1.3rem 1rem 1.2rem;
    cursor:            pointer;
  }

  .next-icon:hover, .prev-icon:hover {
    stroke:         hsl(26, 100%, 55%)
  }






/* Inside The Cart-------------------------------------------------------------------------------------- */

label.cart-btn{
  position: relative;
  margin: auto;
}

.inside-cart-empty {
  display:       block;
  position:      absolute;
  font-family:   'Kumbh Sans', sans;
  color:         hsl(219, 9%, 45%);
  font-size:     16px;
  text-align:    center;
  transform:     translate(11rem, 12rem);
  z-index:       1;
}

.inside-cart-prod-title {
  display: block;
  position: absolute;
  max-width: 13rem;
  font-family: 'Kumbh Sans', sans-serif;
  color:       hsl(219, 9%, 45%);
  font-size:   16px;
  font-weight: 25;
  line-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translate(9rem, 8.3rem);
}

.inside-cart-total {
  display: block;
  position: absolute;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 0%);
  transform: translate(19rem, 11rem);
}

.inside-cart-badge {
  display: block;
  position: relative;
  height: 35%;          /* For background color of */ 
  width: 50%;           /* of the orange sticker */ 
  transform: translate(4rem, 0.5rem);
  grid-area: cart-btn;
  font-family: 'Kumbh Sans', sans;
  font-size: 12px;
  color: hsl(25, 100%, 94%);
  background-color: hsl(26, 100%, 55%);
  border-radius: 1rem;
  text-align: center;
  z-index: 1;
}

.inside-cart-bold-title {
  display: none;
  position: absolute;
  font-family: 'Kumbh Sans', sans;
  font-size: 16px;
  color: hsl(0, 0%, 0%);
  transform: translate(3rem, 2rem);
}

.inside-cart-border {
  display: block;
  position: relative;
  font-family: 'Kumbh Sans', sans;
  transform: translate(0rem, 5rem);
  border-color:  hsl(223, 64%, 98%);
  border-style:  solid;
  border-width: .05rem;
  }

.cart-prod-thumbnail {
  display:      block;
  position:     absolute;
  grid-area:    prod-img-big;
  transform:    translate(-4rem, 0rem) scale(30%);
  border-radius: 2rem;
}

.trash-can {
  transform: translate(32rem, 7rem);
  cursor: pointer;
  z-index: 2;
}

.trash-can:hover{
  fill: hsl(26, 100%, 55%);
}

.checkout-btn {
  display: block;
  position: absolute;
  width: 89%;
  height: 52px;
  transform: translate(0rem, 15rem);
  z-index: 1;
  cursor: pointer;
}
 
  #cart-btn-checkbox:not(:checked) ~ div.inside-cart-box{
    opacity: 0;
    height: 0%;
    overflow: hidden;
    position: relative;
    /* transition: opacity 257ms ease-in; */
    /* transform: scaleX(0);
    transform-origin: left; 
    transition: transform 257ms, opacity 257ms ease-out; */
    }
   
   #cart-btn-checkbox:checked ~ div.inside-cart-box{
     opacity: 1;
     height: 90%;
     position: relative;
     transition: opacity 100ms ease-in;
     /* transform: scaleX(1);
     transform-origin: left; */
     /* transition: transform 257ms, opacity 257ms ease-in; */
   }



   /* Smaller Components--------------------------------------------------------------------------------------- */

.company-name {
  font-family:        'Kumbh Sans', sans;
  color:            hsl(26, 100%, 55%);
  font-size:          12px;
  text-transform:     uppercase;
  letter-spacing:     0.2rem;
  margin-left:        2rem;
  margin-top:         1rem;
}

.prod-title {
  font-family:  'Kumbh Sans', sans-serif;
  color:        hsl(0, 0%, 0%);
  font-weight:  700;
  font-size:    28px;
  line-height:  3rem;
  margin-left:  2rem;
  margin-top:   1rem;
}

.body {
  font-family: 'Kumbh Sans', sans-serif;
  color:       hsl(219, 9%, 45%);
  font-size:   16px;
  font-weight: 25;
  line-height: 2.5rem;
  margin:      2rem 1.1rem 0rem 2rem;
}

.prod-price {
  display: inline-block;
  font-family: 'Kumbh Sans', sans;
  color: hsl(0, 0%, 0%);
  font-size: 28px;
  transform: translate(2rem, 0rem);
}

.prod-perc {
  display: inline-block;
  font-family: 'Kumbh Sans', sans;
  font-size: 16px;
  line-height: 2.5rem;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translate(4rem, -0.5rem);
}

.prod-save {
  display: inline-block;
  font-family: 'Kumbh Sans', sans;
  font-size: 16px;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  transform: translate(14.5rem, -0.5rem);
}

.minus-btn {
  display: block;
  position: absolute;
  transform: translate(4rem, 0.4rem);
  padding: 2rem 2rem 2rem 2rem;
  cursor:pointer
}

.prod-num {
  display: block;
  background-color:hsl(223, 64%, 98%);
  margin-left:   2rem;
  margin-right:  2rem;
  line-height:   5rem;
  border-radius: 1rem;
  text-align:    center;
}

.plus-btn {
  display: block;
  position: absolute;
  transform: translate(30rem, -5rem);
  padding: 2rem 2rem 2rem 2rem;
  cursor:pointer
}

.cart-white {
  display: block;
  position: absolute;
  fill: white;
  transform: scale(75%) translate(15rem, 2rem);
}

.orange-btn-white-text {
  display: block;
  font-family: 'Kumbh Sans', sans;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  background-color:hsl(26, 100%, 55%);
  margin-left:   2rem;
  margin-right:  2rem;
  line-height:   5rem;
  border-radius: 1rem;
  text-align:    center;
}

