:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin:  0;
  padding: 0;
}

.container {
  display: grid;
  max-width: 375px;
  grid-gap: 1rem;
  grid-template-areas:

'menubtn               header           cartbtn                avatar'
'prod-imgb             prod-imgb        prod-imgb              prod-imgb'
'prod-desc             prod-desc        prod-desc              prod-desc'
'prod-price            prod-price       prod-price             prod-price '
'addprod-btn           addprod-btn      addprod-btn            addprod-btn'
'addcart-btn           addcart-btn      addcart-btn            addcart-btn';
}



/*Main Components----------------------------------------------------------------------------------------- */

.header {
  grid-area: header;
  font-family: 'Kumbh Sans', sans;
  font-size: 36px;
}

.cartbtn {
  grid-area: cartbtn;
  fill: #69707D;
  transform: translate(1.5rem, 0.5rem);
  cursor: pointer;
}

.avatarbtn {
  grid-area: avatar;
  width: 25px;
  height: 25px;
  transform: translate(1rem, 1.4rem);
  cursor: pointer;
}

.avatarbtn:hover{
  border: .2rem solid hsl(26, 100%, 55%);
  border-radius: 2rem; 
}

.wrapperimgb {
  grid-area: prod-imgb;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: -12rem;
}

.proddesc {
  grid-area: prod-desc;
}

.prodprice {
  grid-area: prod-price;
  margin-top: 1rem;
}

.addprodbtn {
  grid-area: addprod-btn;
  margin-top: 1rem;
  height: 52px;
}

.addtocartbtn {
 grid-area: addcart-btn;
 height: 52px;
 cursor: pointer
}

.insidecartbox {
  grid-area: prod-imgb;
  position: relative;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  margin: 1rem;
  z-index: 1;
  }




/* Navigation ------------------------------------------------------------------------------------------------- */


.menuclosebtn:hover, .menubtn:hover, .cartbtn:hover{
  fill:hsl(26, 100%, 55%);
}

a{
  text-decoration: none;
}

.menunavtext{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color:  hsl(0, 0%, 0%);
  text-decoration: none;
  margin: 2rem 0rem 2rem 3rem;
  padding: 0;
  z-index: 2;
  cursor: pointer;
}

.menunav {
  width: 70%;
  height: 100%;
  background-color:hsl(0, 0%, 100%);
  z-index: 2;
}

.menunavbg{
  background-color: hsl(0, 0%, 0%, 75%);
  grid-column-start: menubtn;
  grid-column-end: avatar;
  grid-row-start: menubtn;
  grid-row-end: addcart-btn;
  z-index: 2;
}

.menubtn {
  fill: #69707D;
  grid-area: menubtn; 
  transform: translate(0.5rem, 0.5rem);
  cursor: pointer;
}

label.menubtn{
  position: relative;
  margin: auto;
}

.menuclosebtn{
display: inline-block;
padding: 1rem;
fill: #69707D;
transform: translate(2rem, 2rem);
cursor: pointer;
z-index: 2;
}

#menucheckbox:not(:checked) ~ div.menunavbg{
 opacity: 0;
 height: 0%;
 overflow: hidden;
 position: relative;
 /* transition: opacity 257ms ease-in; */
 /* transform: scaleX(0);
 transform-origin: left; 
 transition: transform 257ms, opacity 257ms ease-out; */
 }

#menucheckbox:checked ~ div.menunavbg{
  opacity: 1;
  height: 100%;
  position: relative;
  transition: opacity 257ms ease-out;
  /* transform: scaleX(1);
  transform-origin: left; */
  /* transition: transform 257ms, opacity 257ms ease-in; */
}



  /* Inside The Cart------------------------------------------------------------------------------------ */

label.cartbtn{
  position: relative;
  margin: auto;
}
.insidecartempty {
  display:       block;
  position:      absolute;
  font-family:   'Kumbh Sans', sans;
  color:         hsl(219, 9%, 45%);
  font-size:     16px;
  text-align: center;
  transform: translate(11rem, 11rem);
}

.insidecarttitle {
  max-width: 13em;
  position: absolute;
  font-family: 'Kumbh Sans', sans-serif;
  color:       hsl(219, 9%, 45%);
  font-size:   16px;
  font-weight: 25;
  line-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translate(9rem, 7rem);
}

.insidecartbold {
  display: block;
  font-family: 'Kumbh Sans', sans;
  font-size: 16px;
  color: hsl(0, 0%, 0%);
  transform: translate(3rem, 3rem);
}

.insidecartborder {
  display: block;
  font-family: 'Kumbh Sans', sans;
  transform: translate(0rem, 5rem);
  border-color:  hsl(223, 64%, 98%);
  border-style:  solid;
  border-width: .05rem;
  }

.cartitemthumbnail {
  display:      block;
  grid-area:    prod-imgb;
  transform: translate(-4rem, -4.8rem) scale(30%);
  border-radius: 2rem;
}

.trashcan {
  transform: translate(32rem, 7rem);
  cursor: pointer;
  z-index: 2;
}

.trashcan:hover{
  fill: hsl(26, 100%, 55%);
}


.insidecarttotal {
  display: block;
  font-family: 'Kumbh Sans', sans;
  font-size: 16px;
  color: hsl(0, 0%, 0%);
  transform: translate(19rem, 9.8rem);
}

.insidecartsticker {
  display: block;
  height: 35%;          /* For background color of */ 
  width: 50%;           /* of the orange sticker */ 
  transform: translate(4rem, 0.5rem);
  grid-area: cartbtn;
  font-family: 'Kumbh Sans', sans;
  font-size: 12px;
  color: hsl(25, 100%, 94%);
  background-color: hsl(26, 100%, 55%);
  border-radius: 1rem;
  text-align: center;
  z-index: 1;
}

.checkoutbtn {
  display: block;
  position: absolute;
  width: 89%;
  height: 52px;
  transform: translate(0rem, -7rem);
  z-index: 1;
  cursor: pointer;
}
 
  #cartbtncheckbox:not(:checked) ~ div.insidecartbox{
    opacity: 0;
    height: 0%;
    overflow: hidden;
    position: relative;
    /* transition: opacity 257ms ease-in; */
    /* transform: scaleX(0);
    transform-origin: left; 
    transition: transform 257ms, opacity 257ms ease-out; */
    }
   
   #cartbtnheckbox:checked ~ div.insidecartbox{
     opacity: 1;
     height: 100%;
     position: relative;
     transition: opacity 257ms ease-in;
     /* transform: scaleX(1);
     transform-origin: left; */
     /* transition: transform 257ms, opacity 257ms ease-in; */
   }


/* Smaller Components--------------------------------------------------------------------------------------- */

.prod-imgb {
  width:             100%;
  height:            100%;
  display:           block;
  object-fit:        cover;
}

.prev-icon {
  display:           block;
  position:          absolute;
  transform:         translate(-0.8em, -0.8em);
}

.whitebtnprev {
  display:           block;
  position:          absolute;
  background-color: hsl(0, 0%, 100%);
  border-radius:     25px;
  padding:           2rem 2rem 2rem 2rem;
  transform:         translate(1em, 10em);
  cursor:            pointer
  }

.next-icon {
  display:           block;
  position:          absolute;
  transform:         translate(-0.5em, -0.8em);
}

.whitebtnnext {
  display:            block;
  position:           absolute;
  background-color: hsl(0, 0%, 100%);
  border-radius:      25px;
  padding:            2rem 2rem 2rem 2rem;
  transform:          translate(32em, -17.4em);
  cursor:pointer
}

.company-name {
  font-family:        'Kumbh Sans', sans;
  color:            hsl(26, 100%, 55%);
  font-size:          12px;
  text-transform:     uppercase;
  letter-spacing:     0.2rem;
  margin-left:        2rem;
  margin-top:         1rem;
}

.prod-title {
  font-family:  'Kumbh Sans', sans-serif;
  color:        hsl(0, 0%, 0%);
  font-weight:  700;
  font-size:    28px;
  line-height:  3rem;
  margin-left:  2rem;
  margin-top:   1rem;
}

.body {
  font-family: 'Kumbh Sans', sans-serif;
  color:       hsl(219, 9%, 45%);
  font-size:   16px;
  font-weight: 25;
  line-height: 2.5rem;
  margin:      2rem 1.1rem 0rem 2rem;
}

.prod-price {
  display: inline-block;
  font-family: 'Kumbh Sans', sans;
  color: hsl(0, 0%, 0%);
  font-size: 28px;
  transform: translate(2rem, 0rem);
}

.prod-perc {
  display: inline-block;
  font-family: 'Kumbh Sans', sans;
  font-size: 16px;
  line-height: 2.5rem;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translate(4rem, -0.5rem);
}

.prod-save {
  display: inline-block;
  font-family: 'Kumbh Sans', sans;
  font-size: 16px;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  transform: translate(14.5rem, -0.5rem);
}

.minus-btn {
  display: block;
  position: absolute;
  transform: translate(4rem, 0.4rem);
  padding: 2rem 2rem 2rem 2rem;
  cursor:pointer
}

.prod-num {
  display: block;
  background-color:hsl(223, 64%, 98%);
  margin-left:   2rem;
  margin-right:  2rem;
  line-height:   5rem;
  border-radius: 1rem;
  text-align:    center;
}

.plus-btn {
  display: block;
  position: absolute;
  transform: translate(30rem, -5rem);
  padding: 2rem 2rem 2rem 2rem;
  cursor:pointer
}

.cartwhite {
  display: block;
  position: absolute;
  fill: white;
  transform: scale(75%) translate(15rem, 2rem);
}

.orangebtnwhitetext {
  display: block;
  font-family: 'Kumbh Sans', sans;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  background-color:hsl(26, 100%, 55%);
  margin-left:   2rem;
  margin-right:  2rem;
  line-height:   5rem;
  border-radius: 1rem;
  text-align:    center;
}

